@use 'colors';
.titre{
    font-size: 3rem;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    background-color: colors.$background-color;
    padding: 1.2rem;
    text-underline-offset: 1.6rem;
}
.header {
    background: colors.$background-color;
    font-family: 'Roboto', sans-serif;
    padding: 4rem 4rem 0 4rem;
    .head{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .burgerMenu{
            display: none;
        }
        nav{
            display: flex;
            justify-content: space-around;
            align-items: center;
            h1{
                font-size: 1.5rem;
                margin-right: 2rem;
            }
            ul{
                display: flex;
                justify-content: space-around;
                align-items: center;
                li{
                    list-style: none;
                    margin: 0 10px;
                    a{
                        text-decoration: none;
                        color: colors.$color-text;
                        font-size: 0.9rem;
                        font-weight: 600;
                    }
                    
                }
            }
            li:nth-child(1){
                border: 1px solid colors.$color-text;
                padding: 5px 10px;
            }
        }
        .connectSection{
            a{
                text-decoration: none;
                color: colors.$color-text;
                font-size: 0.9rem;
                font-weight: 600;
                margin: 0.5rem;
            }
            
            a:nth-child(1){
                border-radius: 5px;
                background: #fff;
                padding: 0.2rem 0.5rem;
            }
        }
    }
    

    .rectangle{
        width: 100%;
        margin-top: 1.2rem;
    }
    
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Inter', sans-serif;
    padding: 0 0 2rem 0 ;
    p{
        font-size: 4.2rem;
        font-weight: 600;
    }
}

@media (max-width: 1024px){

    .container {
        p{
            font-size: 2.5rem;
        }
        img{
            width: 50%;
        }
    }

}
@media (max-width: 1024px){

    .container {
        p{
            font-size: 2rem;
        }
        img{
            width: 50%;
        }
    }

}
@media (max-width: 700px){
    .header{
        .head{
            nav{
                flex-direction: column;
                
            }
        }
    }
    .container {
        p{
            font-size: 1.5rem;
        }
        img{
            width: 50%;
        }
    }
}
@media (max-width: 600px){
    .header{
        .head{
            nav{
                display: none;
            }
            .burgerMenu{
                z-index: 100;
                display: block;
                cursor: pointer;
                position: relative;
            }
            .navMenu{
                display: block;
                position: absolute;
                top: 0;   ;
                left: 0;
                width: 100%;
                height: 100vh;
                background: colors.$background-color;
                z-index: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 2rem;
                h1{
                    font-size: 3rem;
                    margin-bottom: auto;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    li{
                        list-style: none;
                        margin: 1rem;
                        a{
                            text-decoration: none;
                            color: colors.$color-text;
                            font-size: 1.5rem;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 500px){
    .container{
        p{
            font-size: 1.2rem;
            margin-top: 1.5rem;
            text-align: center;
        }
        img{
            display: none;
        }
    }
}


/*..................................................  section container .....................................................................*/

.containerSection{
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    padding: 0 8rem;
    width: 100%;
    .tables{
        margin-bottom: 2.5rem;
        border-collapse: collapse;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-spacing: 0;
        table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            margin: 0;
            padding: 0;
        }
        h2{
            font-size: 3rem;
            font-weight: 900;
            margin-bottom: 1rem;
        }
        thead{
            background: colors.$background-color;
            color: colors.$color-text;
            font-size: 1.2rem;
            font-weight: 600;
            tr{
                th{
                    padding: 0.2rem;
                    text-align: center;
                }
            }
        }
        tbody{
            color: colors.$color-text;
            tr{
                border: none;
                background: #fff;
                font-size: 1rem;
                font-weight: 600;
                td{
                    padding: 0.5rem;
                    text-align: center;
                }
                
            }
            tr:nth-child(even){
                background: #F5F5F5;
                
            }
        }
    }
    
}
.SectionFoot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif;
    width: 100%;
    p{
        font-size: 4.5rem;
        font-weight: 900;
        padding: 4rem;
    }
    .work{
        background-image: url('../assets/Rectangle\ 17.png');
        width: 110%;
    }
}   

@media (max-width: 1024px){

    .SectionFoot {
        p{
            font-size: 2.5rem;
        }
        
    }
    
}
@media (max-width: 820px){

    .containerSection{
        padding: 1.5rem 2rem;
        .tables{
            h2{
                font-size: 1.2rem;
            }
            thead{
                font-size: 1rem;
            }
            tbody{
                font-size: 0.8rem;
            }
        }
    }
    
}
@media (max-width: 650px){
    .containerSection{
        padding: 1.5rem 1rem;
        .tables{
            h2{
                font-size: 1rem;
            }
            thead{
                tr{
                    th{
                        padding: 0.2rem;
                        text-align: center;
                        font-size: 0.7rem;
                    }
                }
            }
            tbody{
                tr{
                    td{
                        padding: 0.5rem;
                        text-align: center;
                        font-size: 0.7rem;
                    }
                    
                }
            }
        }
    }
}

@media (max-width: 500px){
    .SectionFoot{
        p{
            font-size: 1.5rem;
            padding: 1.2rem;
            text-align: center;
        }
        .work{
            display: none;
        }
    }
}
@media (max-width: 380px){
    .containerSection{
        padding: 1rem 1rem;
        .tables{
            h2{
                font-size: 1rem;
            }
            thead{
                tr{
                    th{
                        padding: 0.1rem;
                        text-align: center;
                        font-size: 0.6rem;
                    }
                }
            }
            tbody{
                tr{
                    td{
                        padding: 0;
                        padding-bottom: 0.2rem;
                        text-align: center;
                        font-size: 0.5rem;
                    }
                    
                }
            }
        }
    }
}

