@use 'diana';
@use 'josias';  
@use 'base';
@use 'colors';

.header {
    background: colors.$background-color;
    font-family: 'Roboto', sans-serif;
    padding: 25px 25px 0 25px;
    .head{
        display: flex;
        justify-content: space-between;
        align-items: center;
        nav{
            display: flex;
            justify-content: space-around;
            align-items: center;
            h1{
                font-size: 1.5rem;
                margin-right: 2rem;
            }
            ul{
                display: flex;
                justify-content: space-around;
                align-items: center;
                li{
                    list-style: none;
                    margin: 0 10px;
                    a{
                        text-decoration: none;
                        color: colors.$color-text;
                        font-size: 0.9rem;
                        font-weight: 600;
                    }
                    
                }
            }
            li:nth-child(1){
                border: 1px solid colors.$color-text;
                padding: 5px 10px;
            }
        }
        .connectSection{
            a{
                text-decoration: none;
                color: colors.$color-text;
                font-size: 0.9rem;
                font-weight: 600;
                margin: 0.5rem;
            }
            a:nth-child(1){
                border-radius: 5px;
                background: #fff;
                padding: 0.2rem 0.5rem;
            }
        }
    }
    .container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: 'Inter', sans-serif;
        p{
            font-size: 4.2rem;
            font-weight: 600;
        }
    }

    .rectangle{
        width: 100%;
        margin-top: 1.2rem;
    }
    
}



